@font-face {
  font-family: "ProximaNova";
  src: url("../utils/ProximaNovaBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../utils/ProximaNovaLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../utils/ProximaNovaRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../utils/ProximaNovaSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../utils/ProximaNovaThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
